.f-err{color:red;}
.f-temp > .f-loading-bar {
    z-index: 150;
    display: block;
}
.file-Upload-View-Content{
    margin-top:20px;
}

.file-Upload-View-Content .f-remove {
    float: right;
}
.f-loading-bar {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 4px;
    background: #acece6;
    overflow: hidden;
}
.f-item{
    line-height:30px;
}
    .f-loading-bar div:before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        background: black;
        animation: box-1 2100ms cubic-bezier(0.65,0.81,0.73,0.4) infinite;
    }
    .f-loading-bar div:after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        background: black;
        animation: box-2 2100ms cubic-bezier(0.16,0.84,0.44,1) infinite;
        animation-delay: 1150ms;
    }  

.f-temp {
    position: relative;
}

    .f-temp:before {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255,255,255,.8);
        z-index: 100;
    }

@keyframes box-1 {
    0% {
        left: -35%;
        right: 100%;
    }

    60%,100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes box-2 {
    0% {
        left: -200%;
        right: 100%;
    }

    60%,100% {
        left: 107%;
        right: -8%;
    }
}