
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<div class="col-md-6">
        <div class="dashboard-stat white">
            <div class="visual"><i class="fa fa-comments"></i></div>
            <div class="details">
                <div class="number" data-counter="counterup" data-value="@ViewBag.SMSBlank">@ViewBag.SMSBlank đ</div>
                <div class="desc">eSMS</div>
            </div>
            <a class="more" href="https://esms.vn/" target="_blank">https://esms.vn/ <i class="m-icon-swapright m-icon-white"></i></a>
        </div>
    </div>

