
<div class="box-product-me">
    <div class="container">
        <h3 class="title-1 color-main no-text-transform">My Project</h3>

        <ul class="nav nav-tabs">
            <li><a data-toggle="tab" href="#home" class="active" id="homeTab">Publishing project</a></li>
            <li><a data-toggle="tab" href="#menu1" id="close-porject-tab">Closed project</a></li>
            <li><a data-toggle="tab" href="#menu2" class="Waiting-project-tab">Draf project</a></li>
        </ul>
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active show">
                <div class="row">
                </div>

            </div>
            <div id="menu1" class="tab-pane fade">
                <div class="row">
                </div>
            </div>
            <div id="menu2" class="tab-pane fade">
                <div class="row">
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var _data = {
            isPublish: true,
            closed:false
        }
    </script>
    <script src="~/Assets/js/Modul/MyProject.js"></script>
    
}