<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DomainName" value="https://Tinhieu365.com/" />
    <add key="AppName" value="Tinhieu365.com" />
    <add key="sallOfEncyption" value="861737512167-uggkjkau5b8i5a3d4iuglf1tckgnt9jp.apps.googleusercontent.com" />
    <add key="saveLoginDay" value="6" />
    <add key="MainEncryptionPass" value="6" />
    <!--Media-->
    <add key="mediaEndpoints" value="http://cdn.tinhieu365.com" />
    <add key="mediaApiToken" value="Extensio@@#%sdfgdfasdfnlessU30ad4fe6b2afasdf6aeedrlHandler-Integrated-4.0Noth31bf3856ad36à4e35ing123430ad4fe6b2a6aeed31bf3856ad364e35" />
    <!--http://speedsms.vn-->
    <add key="SmsAPIKey" value="29C433A4AE2960285432EB4DAB7882" />
    <add key="SmsSecretKey" value="EAFFB5ADACED2061529C245919D81D" />
    <!--Redis server if UsingRedisCache=0 using http.web.cache-->
    <add key="UsingRedisCache" value="0" />
    <add key="RedisIP" value="171.244.1.115" />
    <add key="RedisPort" value="6379" />
    <add key="RedisPass" value="trantranthang234523495@482345" />
    <!--google capcha-->
    <add key="googleCapchaSecret" value="6Lfn8R4UAAAAAHfqzGRduOReHq5zpZ3i2zUgdCYP" />
    <add key="googleCapchaSitekey" value="6Lfn8R4UAAAAAOrsWcUZ3EzfvyvgGpy_bRlw734E" />
    <add key="GoogleClientidLogin" value="809054577087-bthcp9n6gevgeh6fkv4kv42ng0lbl43h.apps.googleusercontent.com" />
    <add key="GoogleClientSecrecLogin" value="GgeJybN9Wt4c2DewYKzkdOSn" />
    <add key="facebookAppIdLogin" value="369348303254756" />
    <add key="facebookAppSecretLogin" value="2659e1965cd8d3be2bc455c317da2e58" />
    <!--smtp mail-->
    <add key="adminMailConfig" value="address:suport@anpero.com;pass:GeH6LUB#qe1W;port:25;host:mail.anpero.com" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <customErrors defaultRedirect="~/" mode="Off">
      <error statusCode="404" redirect="~/404.htm" />
      <error statusCode="500" redirect="~/500.htm" />
    </customErrors>
    <authentication mode="Forms">
      <forms loginUrl="/" timeout="2880" />
    </authentication>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="SitemapXml" path="sitemap.xml" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="robots" path="robots.txt" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <remove fileExtension=".svg" />
      <remove fileExtension=".eot" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".otf" />
      <remove fileExtension=".ttf" />
      <remove fileExtension=".scss" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".otf" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <mimeMap fileExtension=".ttf" mimeType="application/font-ttf" />
      <mimeMap fileExtension=".scss" mimeType="text/css" />
    </staticContent>
    <caching>
      <profiles>
        <add extension=".gif" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="49.00:30:00" />
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheForTimePeriod" duration="10:00:30" />
        <add extension=".svg" policy="CacheUntilChange" kernelCachePolicy="CacheForTimePeriod" duration="10:00:30" />
        <add extension=".otf" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="49.00:30:00" />
        <add extension=".png" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="49.00:30:00" />
        <add extension=".jpg" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="49.00:30:00" />
        <add extension=".woff" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="49.00:30:00" />
        <add extension=".woff2" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="49.00:30:00" />
        <add extension=".ttf" policy="CacheUntilChange" kernelCachePolicy="CacheForTimePeriod" duration="10:00:30" />
      </profiles>
    </caching>
    <httpProtocol>
      <customHeaders>
        <clear />
        <remove name="Server" />
        <remove name="X-Powered-By" />
        <remove name="X-AspNet-Version" />
        <remove name="X-AspNetMvc-Version" />
        <remove name="Vary" />
        <add name="Vary" value="Accept-Encoding" />
        <add name="X-Frame-Options" value="DENY" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <connectionStrings>
    <clear />
    <add name="DefaultConnection" connectionString="Server=14.225.20.8,1445\SQLEXPRESS;Initial Catalog=StockVn;Persist Security Info=True;User ID=BaseLandUser;Password=ebad7458-3526-49e8-8385-8f1adf2acb43;Connection Timeout=30;pooling=true;Max Pool Size=100;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>