admin2.7/obj/Release/Package/PackageTmp/Views/theme/Browser.cshtml
admin2.7/obj/
admin2.7/bin/
Lib/Dal/bin/
.vs/
Lib/Ultil/obj/
Lib/Dal/obj/
Lib/Enum/AEnum/obj/
Lib/Models/Model/obj/
Lib/storeMngLib/obj/
Lib/Enum/AEnum/bin/
Lib/Models/Model/bin/
Lib/storeMngLib/bin/
Lib/Ultil/bin/
Lib/WareHouseV3/StoreMng/bin/
admin2.7/admin 2.7.csproj.user
admin2.7/Properties/PublishProfiles/anpero.pubxml.user
Lib/AModul/AModul/obj/
Lib/AModul/AModul/bin/
Lib/AModul/bin/
Lib/AModul/obj/
packages/
BackEndAPI_v2/bin/
BackEndAPI_v2/obj/Debug/BackEndAPI_v2.csprojAssemblyReference.cache
BackEndAPI_v2/obj/Release/
TokenAPi/bin/
TokenAPi/obj/
JwtManager/obj/
BackEndAPI_v2/obj/
MasterWebAPI/obj/
mediaMvc_v4/bin/
mediaMvc_v4/obj/
SendMailWinService/bin/
SendMailWinService/obj/
MasterWebAPI/bin/
debug.log
FrontEnd/bin/
FrontEnd/obj/
admin2.7/admin 3.0.csproj.user
FrontEnd/FrontEnd.csproj.user
mediaMvc_v4/mediaMvc_v4.csproj.user
BackgroundServices/PaymentCheckingService/bin/
BackgroundServices/PaymentCheckingService/obj/
/admin2.7/_bin_deployableAssemblies
