@{
    ViewBag.Title = "Bán hàng";
}
@section head{
    @*<script src="~/Scripts/order/wareHouse.js"></script>*@
    <script src="~/Scripts/News.js"></script>
    <script src="~/Scripts/product/addPr.js"></script>
    <script src="~/Scripts/product/prType.js"></script>

}

<div class="row">
        <div class="col-md-12">
            <div class="form-horizontal form-row-seperated">                
                @Html.Partial("_partial/product/product")
            </div>
         
        </div>
    </div>

<script>
    $(document).ready(function () {
        var _keybuffer = "";
        Product.seachProduct();
        $('.spSeria').on("keyup", function (e) {
            var code = e.which;
            var id = this.id;

            if (code == 13) {
                var quantyti = countLine("#" + id, true);
                $('#spquantyti_' + id.replace("spSeria_", "")).val(quantyti);
                UpdatePrOdByseria(id.replace("spSeria_", ""));
            }
        });
        $("#product_name").keyup(function (e) {
            if (e.keyCode == 13) {
                Product.seachProduct();
            }
        });
        $("#product_id").change(function () {
            Product.seachProduct();
        });
        $("#wareHouseId2").change(function () {
            Product.seachProduct();
        });
        $("#prcatSelect").change(function () {
            Product.seachProduct();
        });

        $("#prStatus").change(function () {
            Product.seachProduct();
        });

        //BindWHSelect2();
        BindPROD();

        $('#seria').on("keyup", function (e) {
            var code = e.which;
            if (code == 13) {
                searchOrder(1);
            }
        });
        //$('#odid').on("keyup", function (e) {
        //    var code = e.which;
        //    if (code == 13) {
        //        searchOrder(1);
        //    }
        //});

        Product.bindPrCat();
    });
    function delAddr(_adid) {
        $.ajax({
            dataType: "text",
            mothod: "post",
            url: "/handler/address.ashx",
            data: { op: "delAddress", adid: _adid },
            success: function (msg) {
                showNotice("Xóa địa chỉ", msg);
            }
        });
    }

</script>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="Prwh">
    <div class="modal-dialog modal-lg bs-example-modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Thêm kho bãi</h4>
            </div>
            <div class="modal-body">
                <label>Vị trí kho </label>
                <input type="text" id="whN" class="form-control" />
                <button onclick="addwh();">Thêm</button><br />
                <div id="tablewh">
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_partial/addAddress")
@Html.Partial("_partial/searchAddress")

<style>
    .spcontent .headerPr {
        background-color: #eee !important;
        float: left;
        width: 100%;
        border-bottom: 1px #CCC dashed;
        margin: 15px 0 15px 0;
        padding: 5px 0 5px 0;
    }
</style>
@*<script src="~/Scripts/order/wareHouse.js"></script>*@
<nav class="quick-nav">
    <a class="quick-nav-trigger" href="#0">
        <span aria-hidden="true"></span>
    </a>
    <ul>
        <li>
            <a href="/pr/addpr" class="active">
                <span>Thêm sản phẩm mới</span>
                <i class="fa fa-cube"></i>
            </a>
        </li>
        <li>
            <a href="/pr/categorymanager">
                <span>Danh mục sản phẩm</span>
                <i class="fa fa-cube"></i>
            </a>
        </li>
        <li>
            <a href="/pr/orderList">
                <span>Xem đơn hàng</span>
                <i class="icon-basket"></i>
            </a>
        </li>
    </ul>
    <span aria-hidden="true" class="quick-nav-bg"></span>
</nav>
<div class="quick-nav-overlay"></div>