@{
    ViewBag.Title = "Khôi phục mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="logo">
    <a href="/">
        <img src="/logo.png" alt="" />
    </a>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
    <h3 class="form-title font-green">Khôi phục mật khẩu</h3>
    @using (Html.BeginForm("forgetPasswords", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <p> Vui lòng nhập e-mail đăng ký. Hệ thống sẽ gửi link khôi phục mật khẩu tới e-mail này. </p>
        <div class="form-group">
            <input id="mail" name="mail" type="text" class="form-control placeholder-no-fix" placeholder="Nhập mail muốn khôi phục mật khẩu" autocomplete="off">
            <input type="hidden" id="captcha" name="captcha" />
            <span id="noticeMail"></span>
        </div>
        <div class="form-group">
            <span id="help-block"></span>
            <div id="g-recaptcha"></div>
        </div>
        <div class="form-actions">
            <button type="button" id="back-btn" class="btn green btn-outline">Back</button>
            <button type="submit" class="btn btn-success uppercase pull-right" value="Gửi mail" onclick="return checkForm();">Gửi mail</button>
        </div>
    }
    <div class="create-account">
        <p>
            <a href="/" id="register-btn" class="uppercase">Về trang chủ</a>
        </p>
    </div>
</div>
<link href="/assets/global/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" />
<script src="/assets/global/plugins/bootstrap-sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/webScipt.js"></script>
<script>
    var googleCatcha;
    function checkForm() {
        var captchaResponse = grecaptcha.getResponse(googleCatcha);
        if (captchaResponse == "" || captchaResponse == null) {
            grecaptcha.reset();
            $("#help-block").html("Vui lòng nhập click vào ô kiểm tra");
            return false;
        } else {
            $("#captcha").val(captchaResponse);
            return true;
        }
    }
    jQuery(document).ready(function () {
        var rs = getParameterByName("rs");
        switch (rs) {
            case "3":
                showNotice("Khôi phục mật khẩu", "Email không đúng định dạng");
                $("#noticeMail").html("Email không đúng định dạng");
                break;
            case "2":
                showNotice("Khôi phục mật khẩu", "Mã xác nhận không đúng");
                $("#help-block").html("Mã kiểm tra không đúng");
                break;
            case "1":
                showNotice("Khôi phục mật khẩu", "Email không tồn tại");
                $("#noticeMail").html("Email không tồn tại");
                break;
            case "0":
                //showNotice("Khôi phục mật khẩu", "Link xác nhận đã được gửi đến mail");
                //$("#noticeMail").html("Link xác nhận đã được gửi tới mail, vui lòng kiểm tra hòm thư spam nếu không thấy thư tới");                
                swal({
                    title: "Chỉ còn một bước nữa!",
                    text: "Link xác nhận đã được gửi tới email đăng ký của bạn, vui lòng kiểm tra hòm thư spam nếu không thấy thư tới.",
                    showConfirmButton: true,
                    confirmButtonText: "Trở lại",
                    type: "success"
                },
                function(){
                  window.location.href = "/Account/Login";
                });
                break;
        }
        //var id = 1;
        //$("#captchaImg").attr("src", "/captcha?id=" + id);
        $("#register-back-btn").click(function () {
            window.location.href = "/"
        });   
    });
     
</script>
