%w-100 {
    width: 100%;
}

%relative {
    position: relative;
}

%flex {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

.filter-banner {
    @extend %w-100;
    height: 255px;
    @extend %relative;
    background-image: url(https://us.123rf.com/450wm/vska/vska1509/vska150900025/44704059-abstrakte-immobilien-stadtkurs-spiegel-business-hintergrund.jpg?ver=6);
    @extend %flex;
    justify-content: center;
    @media screen and (max-width: 767px) {
        padding-top: 15px;
        padding-bottom: 15px;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 380px;
        padding: 15px;
        &.filter-mobile{
            height: 615px;
        }
    }
}

$color-black: rgba(17, 17, 17, 0.07);

.filter {
    @media screen and (min-width: 768px) {
        @include position-top-left(40px, 50%);
        transform: translateX(-50%);
        @include border-radius(5px);
        padding: 20px 0 0;
        width: 1024px;
    }
    $filter: 'filter';    
    padding: 20px 25px 0;
    
    border: 1px solid rgba($color-black, .07);
    background-color: rgba(0,0,0, .65);
    &-item-wrap {
        @media screen and (min-width: 768px) {
            display: -webkit-box;
            display: -moz-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }
    }

    &.row {
        @media screen and (max-width: 767px) {
            margin: 0;
        }
    }

    &-form {
       .form-search.form-group {
           @media screen and (max-width:767px) {
            margin-bottom: 0;
           }
       }
    }

    &-item-left {
        @media screen and (min-width: 768px) {
            display: -webkit-box;
            display: -moz-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }
        flex: 1;

        .form-group {
            flex: 1;
            & + .form-group {

            }
            
           @media screen and (min-width: 768px ){
            & + .form-group {
                margin: 0 0 0 10px;
            }
           }
        }
    }

    &-item-right {
        flex: 0 0 200px;
        @media screen and (min-width: 768px) {
            margin: 0 0 0 10px;
        }
    }

    &-hidden {
        display: none;
    }

    .dropdown-custom {
        cursor: pointer;        
        &-control {
            background-color: transparent;
            border: 1px solid $color-border;
            color: #fff;

            &:before {
                margin: 0 10px 0 10px;
            }
        }
    }

    .form-search {
        &-input {
            .form-control {
                height: 100%;
            }
        }

        &-button {
            [class^="btn"] {
                height: 100%;
            }
        }
    }
    
    .btn-#{$filter} {
        background-color: transparent;
        color: #fff;
        font-weight: bold;
        border-color: transparent;
        padding: 6px 10px;
        height: 38px;

        &:before {
            content: '\f0e2';
            @extend .fas;
            margin: 0 10px 0 0;
        }

        &:focus {
            box-shadow: none;
        }

        &:hover {
            background-color: rgba(255,255,255, .7);
            color: #111;
        }

        & + .btn-#{$filter} {
            margin: 0;
        }

        &-expand {
            &:before {
                content: '\f078';
                @extend .fas;
            }
        }
    }
}

