<div class="col-md-12">
    <div class="form-group col-md-12">
        <label class="control-label col-md-4">Chọn file ảnh: </label>
        <div class="col-md-6">
            <button type="button" class="btn blue start" id="addThumb-slide2">
                <i class="fa fa-upload"></i>
                <span> Chọn file ảnh </span>
            </button>            
        </div>
    </div>
    <div class="right col-md-12" id="thumbContent-slide2">    
    </div>
</div>
