<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anpero thiết kế website bán hàng</title>
    <meta content="Anpero" name="author" />
    <meta name="keywords" content="thiet ke website gia re, thiet ke website ban hang">
</head>
<body>
  
    <div class="container body-content">
        @RenderBody()        
        
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
