@{
    ViewBag.Title = "addCategory";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    <script src="~/Scripts/News.js"></script>
}

@using (Html.BeginForm("addNewCatagory", "news", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="row">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <span class="caption-subject bold uppercase">Thêm chủ để cha</span>
                    <span class="caption-helper"></span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body">
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            Chủ đề chính
                            <span class="required" aria-required="true"> * </span>
                        </label>
                        <div class="col-md-8">
                            <input type="text" name="catName" class="form-control" placeholder="Tên chủ đề">
                            <input type="hidden" value="@Request.QueryString["st"]" name="st"/>
                            <span class="help-block"> Tối đa 50 ký tự </span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="submit" class="btn green button-submit" value="Thêm Chủ đề">
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>


}
<div class="row">
    <div class="table table-bordered table-scrollable">

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        bindTableCat();
    });
    function delCat(ids) {
        $.ajax({
            type: "post",
            url: "/Handler/categoryHandler.ashx",
            datatype: "text/html",
            data: { op: "delCat", id: ids,st:Anpero.CurentStore },
            success: function (msg) {
                bindTableCat();
                showNotice("Thông báo", msg);
                playSound02();
            }
        });
    }
</script>
