@using FrontEnd.Controllers;
@{
    ViewBag.Title = "ChangePassword";
    Dal.UserProfileControl profileControl = new Dal.UserProfileControl();
    var currentProfile = profileControl.GetUserProfileById(AppSession.CurentProfile.UserId);
}

<div class="box-page-profile">
    <div class="container">
        <div class="main-page-profile row">
            <div class="col-sm-7 col-md-8 col-lg-9 left-profile">
                <div class="main-left-profile">
                    <div class="item-profile">
                        <h4 class="title title-3">Change password</h4>
                        <div class="row form-group">
                            <div class="col-sm-5 text-right">
                                <label class="txt-lable txt-lable-1">Old password<span class="color-main">*</span></label>
                            </div>
                            <div class="col-sm-7">
                                <input type="password" placeholder="" class="input-form" id="txt-oldPassword"  autocomplete="off">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-5 text-right">
                                <label class="txt-lable txt-lable-1">New password<span class="color-main">*</span></label>
                            </div>
                            <div class="col-sm-7">
                                <input type="password" placeholder="" class="input-form" id="txt-newPassword"  autocomplete="off">
                                <i>Password minimum 5 characters</i>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-5 text-right">
                                <label class="txt-lable txt-lable-1">Confirm new password<span class="color-main">*</span></label>
                            </div>
                            <div class="col-sm-7">
                                <input type="password" placeholder="" class="input-form" id="txt-confirmNewPassword" autocomplete="off">
                            </div>
                        </div>
                        <div class="row form-group change-password">
                            <div class="col-md-5 text-right">
                            </div>
                            <div class="col-md-7">
                                <button id="btn-changePassword" class="button button-type01 text-transform">Change password</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-md-4 col-lg-3 right-profile">
                @Html.Partial("_partial/_profileLeftMenuPartial")
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Assets/js/Modul/ChangePassword.js"></script>    

}