select {
    width: 150px;
    background-color: hsl(0, 100%, 100%);
    border: 1px solid hsl(0, 0%, 80%);
}

select {
    height: 30px;
    line-height: 30px;
}

.box div.title {
    background: hsl(210, 50%, 40%) url("/images/colors/blue/title.png") repeat-x;
}

.page-content .title {
    margin: 0 0 20px 0;
    padding: 0;
    clear: both;
    overflow: hidden;
    background: hsl(210, 50%, 40%) url("/images/colors/blue/title.png") repeat-x;
}

.title div.search div.input input {
    margin: 0;
    padding: 5px 7px 4px 7px;
    background: hsl(0, 100%, 100%);
    border: 1px solid hsl(210, 50%, 38%);
    color: hsl(0, 0%, 0%);
    font-family: Lucida Grande, Verdana, Lucida Sans Regular, Lucida Sans Unicode, Arial, sans-serif;
    font-size: 11px;
}

.title h5 a {
    margin: 0;
    padding: 11px 0 11px 10px;
    float: left;
    border: none;
    color: hsl(0, 100%, 100%);
}

.title div.search div.input {
    float: left;
}

.title div.search div.button {
    float: left;
}

.title div.search {
    margin: 0;
    padding: 0px 6px 6px 7px;
    float: right;
    background: url("/images/colors/blue/title_link.png") no-repeat top left;
    border-left: 1px solid hsl(210, 50%, 38%);
}

    .title div.search div.button input.ui-state-default {
        background: hsl(210, 44%, 52%) url("/images/colors/blue/button_highlight.png") repeat-x;
        border: 1px solid hsl(210, 50%, 38%);
        border-left: none;
        color: hsl(0, 100%, 100%);
    }

.title ul.links {
    margin: 5px;
    padding: 0;
    float: right;
}

    .title ul.links select {
        margin-top: 5px;
    }

    .title ul.links li {
        margin: 0;
        padding: 0;
        list-style: none;
        float: left;
    }

        .title ul.links li a {
            background: url("/images/colors/blue/title_link.png") no-repeat top left;
            border-left: 1px solid hsl(210, 50%, 38%);
        }

            .title ul.links li a:hover {
                background: url("/images/colors/blue/title_tab_selected.png") no-repeat bottom center;
                color: hsl(206, 100%, 87%);
            }

        .title ul.links li a {
            margin: 0;
            padding: 13px 16px 12px 16px;
            height: 1%;
            display: block;
            float: left;
            background: url("/images/colors/blue/title_link.png") no-repeat top left;
            border-left: 1px solid hsl(210, 50%, 38%);
            color: hsl(0, 100%, 100%);
            font-size: 11px;
            font-weight: bold;
            text-decoration: none;
        }

        .title ul.links li select {
            margin: 0;
            padding: 5px 16px 5px 16px;
            height: 1%;
            display: block;
            float: left;
            border-left: 1px solid hsl(210, 50%, 38%);
            font-size: 11px;
            font-weight: bold;
            text-decoration: none;
        }

.title div.search div.input input {
    margin: 0;
    padding: 5px 7px 4px 7px;
    background: hsl(0, 100%, 100%);
    border: 1px solid hsl(210, 50%, 38%);
    color: hsl(0, 0%, 0%);
    font-family: Lucida Grande, Verdana, Lucida Sans Regular, Lucida Sans Unicode, Arial, sans-serif;
    font-size: 11px;
}

.title div.search div.button input {
    margin: 0;
    color: hsl(0, 0%, 0%);
    font-size: 1.0em;
    font-weight: bold;
    font-family: Verdana, Helvetica, Sans-Serif;
}

.message-warning {
    height: 1%;
    clear: both;
    overflow: hidden;
    background: hsl(52, 100%, 87%);
    border: 1px solid hsl(48, 100%, 57%);
    color: hsl(52, 100%, 19%);
}

.message div.image {
    margin: 2px 0 2px 5px;
    padding: 6px;
    float: left;
}

.message div.text {
    margin: 0;
    padding: 10px 6px 10px 6px;
    float: left;
}

.field div.input input.medium {
    width: 55%;
    float: left;
}

input.valid {
    background: hsl(72, 81%, 81%);
    border-top: 1px solid hsl(39, 36%, 70%);
    border-left: 1px solid hsl(39, 36%, 70%);
    border-right: 1px solid hsl(72, 53%, 67%);
    border-bottom: 1px solid hsl(72, 53%, 67%);
}

input.error {
    background: hsl(357, 75%, 94%);
    border-top: 1px solid hsl(359, 44%, 79%);
    border-left: 1px solid hsl(359, 44%, 79%);
    border-right: 1px solid hsl(358, 88%, 87%);
    border-bottom: 1px solid hsl(358, 88%, 87%);
}

input.notvalid {
    background: hsl(72, 58%, 85%);
    border-top: 1px solid hsl(359, 44%, 79%);
    border-left: 1px solid hsl(359, 44%, 79%);
    border-right: 1px solid hsl(358, 88%, 87%);
    border-bottom: 1px solid hsl(358, 88%, 87%);
}

.thumbCl img {
    max-height: 150px;
    max-width: 150px;
}

.table span {
    cursor: pointer;
}

.table table {
    width: 100%;
}

a.ui-input-file {
    margin: 0 0 0 6px;
    padding: 0;
    width: 28px;
    height: 28px;
    display: inline;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    background: #e5e3e3 url("/images/button_browse.png") no-repeat;
    border: none;
    text-decoration: none;
}

.addMedia {
    width: 100%;
    height: 36px;
    line-height: 32px;
}

    .addMedia ul {
        width: 100%;
        height: 32px;
    }

        .addMedia ul li {
            display: inline-block;
            float: left;
            height: 32px;
        }

.table img {
    max-width: 100px;
}

.news_index_col li {
    padding: 0 0 15px 0;
    border-bottom: 1px #CCC dashed;
    margin-bottom: 15px;
    list-style: none;
    font-family: Tahoma;
    font-size: 14px;
}

    .news_index_col li a {
        color: #a90000;
        font: bold 11px Tahoma, Geneva, sans-serif;
        text-decoration: none;
        font-size: 14px;
    }

    .news_index_col li div {
        font-family: Tahoma;
        font-size: 14px;
    }

.right {
    float: right;
}

.dotted {
    border-bottom: 1px #CCC dashed;
    margin: 15px 0 15px 0;
    width: 100%;
}

.dottedl {
    border-bottom: 1px #CCC dashed;
    margin: 15px 0 15px 0;
    float: left;
    width: 100%;
}

.qtipContent .cont {
    overflow: hidden;
}

    .qtipContent .cont img {
        max-width: 100px;
        max-height: 100px;
    }

.red {
    color: red !important;
    font-weight: bold !important;
}

    .red input {
        color: red;
        border-color: red !important;
        border-width: 1px !important;
    }

.odi, .odi th {
    font-weight: bold;
    color: rgb(5, 58, 74);
}

.yellow {
    color: #EDC240;
}

.textRight {
    text-align: right;
    font-weight: bold;
}

.textLeft {
    text-align: left;
    font-weight: bold;
}

.dashboard-right {
    overflow-y: scroll;
    height: 450px;
}

    .dashboard-right ul {
        border-left: 2px solid #e9e9e9;
        /* margin: 0 20px 0 35px; */
        /* padding: 10px 0 10px 32px; */
        list-style: none;
    }

        .dashboard-right ul li {
            position: relative;
            color: #696969;
            line-height: 22px;
            margin-bottom: 15px;
        }

.dashboard-Invoices i {
    background: url(/Images/dashboard-invoice.png) no-repeat;
    display: inline-block;
    width: 28px;
    height: 28px;
    position: absolute;
    top: -3px;
    left: -55px;
}

.fs11 {
    font-size: 11px !important;
}

.adp {
    margin: 5px 18px 0 0;
}

.widgetList li {
    list-style: none;
}
.widgetList {
    border-bottom: 1px dotted rgb(56, 184, 230);
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.gray{
    color: rgb(198, 227, 230) !important; 
}
.blue{color:blue !important;}
.i{font-style:italic !important;}
.u{font-weight:bold !important;}
.mask-money{max-width:120px;}
.wraper{white-space:normal;}
#listUserTb{background-color:white;}
