<script src="/assets/ckeditor/ckeditor.js"></script>
<script src="/assets/ckeditor/lang/vi.js"></script>
<link href="/assets/ckeditor/contents.css" rel="stylesheet" />
<script src="/assets/ckeditor/styles.js"></script>

<div class="modal modal-small fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="youTube">
    <div class="modal-dialog modal-lg bs-example-modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Vui lòng nhập link Youtube</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-1"> </label>
                        <label class="control-label col-md-3">
                            Link video:
                        </label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" id="YouTubeLink" value="">
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-1"> </label>
                        <label class="control-label col-md-3">
                            Tạo ảnh đại diện từ video này:
                        </label>
                        <div class="col-md-7">
                            <input type="checkbox" class="checkbox" id="isGetYtbThumb" checked>
                        </div>
                    </div>
                    <div class="form-group col-md-12 right">
                        <label class="control-label col-md-2"> </label>
                        <div class="col-md-2"></div>
                        <div class="col-md-6">
                            <button id="btn-cancel" class="btn red" data-dismiss="modal">Hủy thao tác</button>
                            <button id="btnAddYoutube" class="btn blue"><i class="glyphicon glyphicon-plus"></i>Nhúng video vào bài viết</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>

    .cke_button_label.cke_button__imgbutton_label, .cke_button_label.cke_button__addvideo_label {
        display: inline-block !important;
    }
</style>