<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
  
  <add name="DefaultConnection" connectionString="Server=::1,1445\SQLEXPRESS;Initial Catalog=BaseLand;Persist Security Info=True;User ID=BaseLandUser;Password=ebad7458-3526-49e8-8385-8f1adf2acb43;Connection Timeout=30;pooling=true;Max Pool Size=100;" providerName="System.Data.SqlClient"
       xdt:Transform="SetAttributes"
       xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    
    <add key="RedisIP"
        value="127.0.0.1"
        xdt:Transform="SetAttributes"
        xdt:Locator="Match(key)"/>
    <add key="MasterAPIToken"
        value="ExtensionlessU30ad4fe6ab2a6afeedrlHandler-Integrated-4.0Noth31bf3856ad364e35ing123430ad4fe6b2a6aeed31bf3856ad364e35"
        xdt:Transform="SetAttributes"
        xdt:Locator="Match(key)"/>
    <add key="mediaEndpoints"
        value="http://media.tinhieu365.com"
        xdt:Transform="SetAttributes"
        xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes"/>
    
    <customErrors defaultRedirect="~/" mode="On" xdt:Transform="Replace">
      <error statusCode="404" redirect="~/404.htm" />
      <error statusCode="500" redirect="~/500.htm" />
    </customErrors>
  </system.web>
</configuration>
