<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework" requirePermission="false" />
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="adminv2._4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth.Core">
      <section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="reporting" type="DotNetOpenAuth.Configuration.ReportingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="oauth" type="DotNetOpenAuth.Configuration.OAuthElement, DotNetOpenAuth.OAuth" requirePermission="false" allowLocation="true" />
      <section name="openid" type="DotNetOpenAuth.Configuration.OpenIdElement, DotNetOpenAuth.OpenId" requirePermission="false" allowLocation="true" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <clear />
    <add name="DefaultConnection" connectionString="Server=171.244.1.115,1445\SQLEXPRESS;Initial Catalog=StockVn;Persist Security Info=True;User ID=BaseLandUser;Password=ebad7458-3526-49e8-8385-8f1adf2acb43;Connection Timeout=30;pooling=true;Max Pool Size=100;" providerName="System.Data.SqlClient" />
    <add name="LocalSqlServer" connectionString="Server=171.244.1.115,1445\SQLEXPRESS;Initial Catalog=StockVn;Persist Security Info=True;User ID=BaseLandUser;Password=ebad7458-3526-49e8-8385-8f1adf2acb43;Connection Timeout=30;pooling=true;Max Pool Size=100;" providerName="System.Data.SqlClient" />    
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.3" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DomainName" value="http://admin.tinhieu365.com/" />
    <add key="AppName" value="tinhieu365" />
    <add key="sallOfEncyption" value="861737512167-uggkjkau5b8i5a3d4iuglf1tckgnt9jp.apps.googleusercontent.com" />
    <add key="saveLoginDay" value="6" />    
    <add key="MainEncryptionPass" value="6" />
    <!--Media-->
    <!--<add key="mediaDomain" value="https://localhost:44315/home/upload" />-->
    <add key="mediaEndpoints" value="http://cdn.tinhieu365.com" />
      <add key="mediaApiToken" value="Extensio@@#%sdfgdfasdfnlessU30ad4fe6b2afasdf6aeedrlHandler-Integrated-4.0Noth31bf3856ad36à4e35ing123430ad4fe6b2a6aeed31bf3856ad364e35" />
    <!--Auto login-->
    <add key="appId" value="8" />
    <add key="appPass" value="03c20274-f809-46f7-b1f2-ee411201672c" />
    <!--http://speedsms.vn-->
    <add key="SmsAPIKey" value="29C433A4AE2960285432EB4DAB7882" />
    <add key="SmsSecretKey" value="EAFFB5ADACED2061529C245919D81D" />
    <!--Redis server if UsingRedisCache=0 using http.web.cache-->
    <add key="UsingRedisCache" value="0" />
    <add key="RedisIP" value="171.244.1.115" />
    <add key="RedisPort" value="6379" />
    <add key="RedisPass" value="trantranthang234523495@482345" />
    <!--google capcha-->
    <add key="googleCapchaSecret" value="6Lfn8R4UAAAAAHfqzGRduOReHq5zpZ3i2zUgdCYP" />
    <add key="googleCapchaSitekey" value="6Lfn8R4UAAAAAOrsWcUZ3EzfvyvgGpy_bRlw734E" />
    
    
    <add key="GoogleClientidLogin" value="349131024962-s6livcnukp1dri3duvl5p3ua65m8ngsd.apps.googleusercontent.com" />
    <add key="GoogleClientSecrecLogin" value="S-dDDuc__xyPnHZ3Cc5814HA" />
    
    <add key="facebookAppIdLogin" value="369348303254756" />
    <add key="facebookAppSecretLogin" value="2659e1965cd8d3be2bc455c317da2e58" />
    <!--smtp mail-->
    <add key="adminMailConfig" value="address:suport@anpero.com;pass:GeH6LUB#qe1W;port:25;host:mail.anpero.com" />
    <add key="serverName" value="sv1" />
    <!--<add key="API_BackEnd_Link" value="https://localhost:44360/" />-->
    <add key="API_BackEnd_Link" value="http://backendapi.ola88.com" />    
    <!--<add key="BackEndApiPass" value="ExtensionlessU30ad4fe6b2a6aeedrlHandler-Integrated-4.0Noth31bf3856ad364e35ing123430ad4fe6b2a6aeed31bf3856ad364e35"/>-->
    <!--GetStoreInfo-->    
    <add key="MasterAPIToken" value="ExtensionlessU30ad4fe6ab2a6afeedrlHandler-Integrated-4.0Noth31bf3856ad364e35ing123430ad4fe6b2a6aeed31bf3856ad364e35" />
    
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>    
    <!--<sessionState cookieName="uss" timeout="30" />-->
    <!-- 100 MB in kilobytes -->
    <httpRuntime requestValidationMode="2.0" enableVersionHeader="false" maxRequestLength="102400" />
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <customErrors defaultRedirect="~/" mode="Off">
      <error statusCode="404" redirect="~/404.htm" />
      <error statusCode="500" redirect="~/500.htm" />
    </customErrors>    
    
    <pages controlRenderingCompatibilityVersion="4.0" validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <trust level="Full" />    
    <machineKey decryption="AES" decryptionKey="689660DF4FD5285F41B7083FB07F6EE256FC165FD9D9FC2FF0535C7E4ED6B6E8" validation="HMACSHA256" validationKey="C517B93AE1DD25DDF4D427EBBC0F8EB864199C3494AC9FE77CE36771A0F2E7FD95E1C3505723224DAF5456475FF07279FBA2EDB38C0ACFBE5A696832F8C3B49B" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="true" />
    <modules runAllManagedModulesForAllRequests="true" />
    <staticContent>
      <remove fileExtension=".svg" />
      <remove fileExtension=".eot" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".otf" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".otf" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <mimeMap fileExtension=".ttf" mimeType="application/font-ttf" />
    </staticContent>
    <handlers>
      <add name="scriptBundle" verb="*" path="/bundles/global.js" type="System.Web.Optimization.BundleHandler, System.Web.Optimization" preCondition="managedHandler" />
      <add name="cssBundle" verb="*" path="/bundles/global.css" type="System.Web.Optimization.BundleHandler, System.Web.Optimization" preCondition="managedHandler" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.OAuth.Consumer" publicKeyToken="2780CCD10D57B246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.OAuth" publicKeyToken="2780CCD10D57B246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
  
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.OpenId.RelyingParty" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.OpenId" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). -->
    <legacyHMACWarning enabled="0" />

  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <system.net>
    <defaultProxy enabled="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
           before trusting HTTPS certificates.  But this setting tends to not 
           be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
  <dotNetOpenAuth>
    <messaging>
      <untrustedWebRequest>
        <whitelistHosts>
          <!-- Uncomment to enable communication with localhost (should generally not activate in production!) -->
          <!--<add name="localhost" />-->
        </whitelistHosts>
      </untrustedWebRequest>
    </messaging>
    <!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
    <reporting enabled="true" />
    <!-- This is an optional configuration section where aspects of dotnetopenauth can be customized. -->
    <!-- For a complete set of configuration options see http://www.dotnetopenauth.net/developers/code-snippets/configuration-options/ -->
    <openid>
      <relyingParty>
        <security requireSsl="false">
          <!-- Uncomment the trustedProviders tag if your relying party should only accept positive assertions from a closed set of OpenID Providers. -->
          <!--<trustedProviders rejectAssertionsFromUntrustedProviders="true">
            <add endpoint="https://www.google.com/accounts/o8/ud" />
          </trustedProviders>-->
        </security>
        <behaviors>
          <!-- The following OPTIONAL behavior allows RPs to use SREG only, but be compatible
               with OPs that use Attribute Exchange (in various formats). -->
          <add type="DotNetOpenAuth.OpenId.RelyingParty.Behaviors.AXFetchAsSregTransform, DotNetOpenAuth.OpenId.RelyingParty" />
        </behaviors>
      </relyingParty>
    </openid>
  </dotNetOpenAuth>
  <uri>
    <idn enabled="All" />
    <iriParsing enabled="true" />
  </uri>
  <location path="assets">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="2.00:00:00" />
      </staticContent>
      <httpProtocol>
        <customHeaders>
          <add name="Cache-Control" value="public" />
        </customHeaders>
      </httpProtocol>
      <caching>
        <profiles>
          <add extension=".woff2" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
          <add extension=".woff" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
          <add extension=".otf" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
          <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
          <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
          <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
          <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        </profiles>
      </caching>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 58D660D9-A5B2-4DA6-B320-9061B596242F-->
