*{
	margin:0px;
	padding:0px;
}
a{
	text-decoration:none;
}
ul{
	list-style:none;
}
a img{
	border:none;
}
input{
	outline:none;
	border:none;
}
.clear{
	clear:both;
}
.botron{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.botron2{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

body{

	font-size:12px;
	font-family:Tahoma, Geneva, Verdana, sans-serif;
	line-height:16px;
}
.wrapperlienhe{
	width:980px;
	padding:10px;
	margin:0 auto;
}
.content{
	width:100%;
}
.logo{
	width:100%;
	height:70px;
}
.logo img{
	width:250px;
	height:61px;
	display:block;
	margin: 20px 0 0 340px;
}
.noidunglienhe{
	background:#fff;
	border:1px #bfbebe solid;
	width:850px;
	margin: 0 auto;
	margin-bottom:20px;
}
.title{
	background:#77982f;
	width:100%;
	height:35px;
	margin-bottom:10px;
}
.title a {
	color:#fff;
	line-height:35px;
	text-transform:uppercase;
	margin-left:15px;
	font-weight:bold;
	font-size:14px;
}
.boxlienhemarket{
	width:770px;
	background:#ebebeb;
	margin: 20px auto;
	padding:10px 20px;
}
.boxlienhemarket h3{
	color:#6f9126;
	text-transform: uppercase;
}
.boxlienhemarket h4{
	margin-top:8px;
}
.boxlienhemarket p{
	line-height:16px;
}
.email{
	font-weight:bold;
	display:inline-block;
}
.xembaogia{
	width:100%;
	height:30px;
	margin-left:23px;
}
.xembaogia a{
	color:black;
	font-weight:bold;
}
.xembaogia a:hover{
	color:#6f9126;
	font-weight:bold;
}
.NormalTextBox {
background: none repeat scroll 0 0 hsl(0, 100%, 100%);
border-color: hsl(0, 0%, 70%) hsl(0, 0%, 92%) hsl(0, 0%, 92%) hsl(0, 0%, 70%);
border-style: solid;
border-width: 1px;
padding: 5px 5px 4px;
width: 70%;
}
.input-value {
margin: 0 0 0 150px;
padding: 0;
padding: 4px 0px;
}
.label {
margin: 0;
padding: 8px 0 0 5px;
position: absolute;
width: auto;
font-weight: bold;
}
.buttons {
height: 30px;
width: 90px;
font-weight: bold;
color: hsl(0, 100%, 100%);
border: solid 1px hsl(217, 84%, 56%);
background-image: url(img/cmd-submit.png);
background-repeat: repeat-x;
background-position: top center;
background-color: hsl(217, 82%, 60%);
padding:5px;
}
.smallbotron{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}