@charset "utf-8";.lof-slidecontent{position:relative;overflow:hidden;border:#F4F4F4 solid 1px;}
.lof-slidecontent .preload{height:100%;width:100%;position:absolute;top:0;left:0;z-index:100000;text-align:center;background:#FFF}
.lof-slidecontent .preload div{height:100%;width:100%;background:transparent url(../images/load-indicator.gif) no-repeat scroll 50% 50%;}
.lof-slidecontent .sliders-wrapper{position:relative;height:100%;width:900px;z-index:3px;overflow:hidden;}
.lof-slidecontent ul.sliders-wrap-inner{overflow:hidden;background:transparent url(../images/load-indicator.gif) no-repeat scroll 50% 50%;padding:0px;margin:0;position:absolute;overflow:hidden;}
.lof-slidecontent ul.sliders-wrap-inner li{overflow:hidden;padding:0px;margin:0px;float:left;position:relative;}
.lof-slidecontent .lof-opacity{width:100%;height:100%;}
.lof-slidecontent .lof-opacity li{position:absolute!important;top:0;left:0;float:inherit!important;}
.lof-slidecontent .navigator-content{position:absolute;left:0;top:00px;z-index:100;height:300px;width:310px;overflow:hidden;color:#FFF}
.lof-slidecontent .navigator-wrapper{position:relative;z-index:10;height:180px;width:310px;overflow:hidden;color:#FFF;float:left}
.lof-slidecontent ul.navigator-wrap-inner{top:0;padding:0;margin:0;position:absolute;width:100%;}
.lof-slidecontent ul.navigator-wrap-inner li{cursor:hand;cursor:pointer;list-style:none;padding:0;margin-left:0px;overflow:hidden;float:left;display:block;text-align:center;}
ul.sliders-wrap-inner li img{padding:0px;}
.lof-slidecontent .slider-description > div{padding:12px;}
.lof-slidecontent .slider-description a.readmore{color:#58B1EA;font-size:12px;}
.lof-slidecontent .slider-description a{color:#B5D76C;font-size:14px;margin-left:5px;line-height:30px;}
.lof-slidecontent .slider-description{z-index:100;position:absolute;bottom:0;right:0px;width:100%;background:url(../images/bg_trans.png);color:#FFF;}
.lof-slidecontent .slider-description h4{font-size:14px;margin:10px 0;padding:0;}
.lof-slidecontent .slider-description .slider-meta a{margin:0;background:#B9E25F;font-size:75%;padding:2px 3px;font-family:"Trebuchet MS",Trebuchet,Arial,Verdana,sans-serif;text-transform:uppercase;text-decoration:none;color:#2F3335;}
    .lof-slidecontent .slider-description .sortDes {
    font-size:12px;color:#B2B0B0;
    }
.lof-slidecontent .item-meta a:hover{text-decoration:underline;}
.lof-slidecontent .item-meta i{font-size:70%;}
.lof-slidecontent ul.navigator-wrap-inner li.active{}
.lof-slidecontent ul.navigator-wrap-inner li > div{background:url(../images/transparent_bg.png);color:#FFF;height:100%;position:relative;padding-left:15px;border-top:1px solid #E1E1E1;text-align:left}
.lof-slidecontent ul.navigator-wrap-inner li.active div{background:url(../images/grad-bg.gif);color:#FFF;}
.lof-slidecontent ul.navigator-wrap-inner li img{height:60px;width:60px;margin:15px 15px 10px 0px;float:left;padding:3px;border:#C5C5C5 solid 1px;}
.lof-slidecontent ul.navigator-wrap-inner li.active img,
.lof-slidecontent ul.navigator-wrap-inner li:hover img{border:##6C8E5C solid 1px;}
.lof-slidecontent .button-next,
.lof-slidecontent .button-previous{display:block;width:40px;color:#FFF;cursor:pointer;position:absolute;height:100%;z-index:40;top:0;text-indent:-999px;}
.lof-slidecontent .button-next{right:05px;background:url(../images/b_next.png) no-repeat right center;}
.lof-slidecontent .button-previous{left:05px;background:url(../images/b_prev.png) no-repeat left center;}
.imgSlide{width:592px;height:282px;}

.listImagesDetail img {
max-width:594px;
}